/* Animation */
.fade-in-top {
	animation: fade-in-top .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-bottom {
	animation: fade-in-bottom .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both .6s;
}

.fade-in-bottom2 {
	animation: fade-in-bottom .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 5.2s;
}

.fade-in-bottom3 {
	animation: fade-in-bottom .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-left {
	animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 1.8s;
}

.fade-in-left1 {
	animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-left2 {
	animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 5s;
}


@keyframes fade-in-left {
  0% {
    transform: translateX(-250px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-right {
	animation: fade-in-right .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both .6s;
}

.fade-in-right2 {
	animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-right3 {
	animation: fade-in-right .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-right {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
	animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
